<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dove"
    android:versionCode="1"
    android:versionName="1.08.00">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="jp.co.ricoh.isdk.sdkservice.common.SdkService.APP_CMD_PERMISSION" />
    <uses-permission android:name="jp.co.ricoh.isdk.sdkservice.common.SdkService.APP_EVENT_PERMISSION" />


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="productId"
            android:value="1761612544" />

        <provider
            android:name="com.dove.FileProviderClass"
            android:authorities="com.dove.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dove.sample.app.print.activity.SimplePrintMainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">

        </activity>

        <activity
            android:name=".SendCrashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">

        </activity>


        <!--
        <acitivity
            android:name=".sample.app.addressbook.AddressBookSampleMainActivity"
            android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:exported="true"
            android:label="@string/app_name"
            androd:launchMode="singleTop"></activity>

                <activity
                    android:name="om.dove.sample.app.scan.activity.ScanMainActivityivityvity"
                    android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
                    android:exported="true"
                    android:label="@string/app_name"
                    android:launchMode="singleTop">
                </activity>

                <activity
                    android:name="com.dove.sample.app.scan.activity.AddressActivity"
                    android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
                    android:exported="true"
                    android:label="@string/app_name"
                    android:launchMode="singleTop"
                    android:theme="@style/no_line_dialog" />

                <activity
                    android:name="com.dove.sample.app.scan.activity.StorageActivity"
                    android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
                    android:exported="true"
                    android:label="@string/app_name"
                    android:launchMode="singleTop"
                    android:theme="@style/no_line_dialog" />

                <activity
                    android:name="com.dove.sample.app.scan.activity.PreviewActivity"
                    android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
                    android:exported="true"
                    android:label="@string/app_name"
                    android:launchMode="singleTop" />
        -->
    </application>

</manifest>
